/*
	Admin Metabox css
*/



.pm-attendance .office-times {
  margin: 30px 0;
  padding: 0;
}

.pm-attendance .office-times .item {
  background: #ffdc00 none repeat scroll 0 0;
  display: inline-block;
  padding: 21px 60px;
  text-align: center;
}

.pm-attendance .office-times .item .title{

}

.pm-attendance .office-times .item .time {
  display: block;
  font-size: 29px;
  font-weight: bold;
}

.pm-attendance  .office-times .start-time{}
.pm-attendance  .office-times .late-time{}
.pm-attendance  .office-times .end-time{}

.pm-attendance .user-list{}

.pm-attendance .user-list .user {
    background: rgba(221, 221, 221, 0.61) none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 3px;
    position: relative;
    width: 70px;
}
.pm-attendance .user-list .user:hover .hover {
    display: inline-block;
    transition: all 0.5s ease 0s;

}

.pm-attendance .user-list .user .late{

}

.pm-attendance .user-list .user .is-present {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    padding: 5px 3px;
    position: absolute;
    right: 0;
    top: 0;
}

.pm-attendance .user-list .user .is-present.yes {
    background: #22ae58 none repeat scroll 0 0;
}
.pm-attendance .user-list .user .is-present.no {
    background: #f00 none repeat scroll 0 0;
}

.pm-attendance .user-list .user .hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
    display: none;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 250px;
    z-index: 999;
}

.pm-attendance .user-list .user .is-late {
    background: #ffd11f none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 1px 4px;
    position: absolute;
    right: 0;
}
.pm-attendance .user-list .alternate {
    background: rgba(221, 221, 221, 0.31) none repeat scroll 0 0;
}
.pm-attendance .user-list .weekend, .pm-attendance .user-list .offday {
    background: rgba(254, 204, 46, 0.5) none repeat scroll 0 0;
    border-bottom: 1px solid #0b0b0b;
}

.pm-attendance .button {
    background: rgba(221, 221, 221, 0.38) none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 15px;
}

.action-left.button {
    padding: 0 15px 0 0;
}

.pm-attendance .button:hover {
    border: 1px solid #999;
}

.pm-attendance .button .loading {
    display: none;
}



















