@charset "utf-8";
/* CSS Document */

.single-task {
	margin: 0px;
}

.single-task .full{
    width: 100%;
}

.single-task .half {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.single-task .meta {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: top;
}


.single-task .task-status .status{
    background: rgba(221, 221, 221, 0.44) none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
}
.single-task .task-status .status.running {
    background: #37b3ff none repeat scroll 0 0;
    color: #fff;
}
.single-task .task-status .status.hold {
    background: #edc400 none repeat scroll 0 0;
    color: #fff;
}
.single-task .task-status .status.completed {
    background: #0cad6a none repeat scroll 0 0;
    color: #fff;
}
.single-task .task-status .status.none {
    background: #9da9a4 none repeat scroll 0 0;
    color: #fff;
}


.single-task .report .meta {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 5px 10px;
    text-align: center;
}
.single-task .task-action .meta .title {
    font-weight: bold;
    margin-bottom: 20px;
}

.single-task .task-list .task {
    border-bottom: 1px solid #ddd;
}

.single-task .paginate{
    margin: 30px 0;
    text-align: center;
}

.single-task .paginate .page-numbers{
    background: #f2f2f2 none repeat scroll 0 0;
    margin: 0 2px;
    padding: 9px 15px;
    text-decoration: none;
}












