@charset "utf-8";
/* CSS Document */

.task-archive{}

.task-archive .project-id{
    max-width: 180px;
}


.task-archive .item {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 0;
}
.task-archive .item .task-title {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}
.task-archive .item .meta{}
.task-archive .item .meta span {
    background: rgba(221, 221, 221, 0.44) none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
}


.task-archive .item .meta .status.running {
    background: #37b3ff none repeat scroll 0 0;
    color: #fff;
}
.task-archive .item .meta .status.hold {
    background: #edc400 none repeat scroll 0 0;
    color: #fff;
}
.task-archive .item .meta .status.completed {
    background: #0cad6a none repeat scroll 0 0;
    color: #fff;
}
.task-archive .item .meta .status.none {
    background: #9da9a4 none repeat scroll 0 0;
    color: #fff;
}

.task-archive .item .meta span.admin {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
}

.task-archive .item .meta span.admin img {
    border-radius: 0;
    margin-right: 4px;
    vertical-align: top;
}

.task-archive .item .meta a {
    text-decoration: none;
}



.task-archive .paginate {
    margin: 20px 0;
    text-align: center;
}






.task-archive .paginate .page-numbers {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    margin: 0;
    padding: 6px 15px;
    text-decoration: none;
}
.task-archive .paginate .page-numbers.current {
    opacity: 0.5;
}


.task-archive .has_key {
    background: rgba(221, 221, 221, 0.44) none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
}

.task-archive .has_key.yes {
    background: #44b67d;
    color: #fff;
}
.task-archive .has_key.no {
    background: #ffca10;
    color: #fff;
}







