/*
	Admin Metabox css
*/

#to_do_metabox { margin-top: -20px; }



.type-to_do .pm_running {
    background: #826ECC;
    padding: 0px 20px 3px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.type-to_do .pm_default {
    background: #16A05C;
    padding: 0px 20px 3px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}



.wp-list-table .type-to_do:hover .pm_running,
.wp-list-table .type-to_do:hover .pm_default{
    background: #ce660b;
}



.to_do-meta{}

.to_do-meta .full {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.to_do-meta .inner {
	padding: 7px 20px;
}

.to_do-meta .half {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 49%;
}

/* post title */

.to_do-meta .edit-post-title,
.to_do-meta .edit-post-content {
    border: 1px solid #ddd;
    color: #ddd;
    font-size: 18px;
    padding: 0px 7px;
    text-align: center;
    cursor: pointer;
}

.to_do-meta .post_title, 
.to_do-meta .post_title{
	width: 100%;
	display: none;
}


.to_do-meta .post_content,
.to_do-meta .post_content{
	display: none;
	margin-top: 15px;
	width: 100%;
}

.to_do-meta .todo-details{
  display: block;
  margin: 15px 0 0;
	}


.to_do-meta .meta {
  display: inline-block;
  margin: 0 20px 20px 0;
  vertical-align: top;
}

.to_do-meta .meta .title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.to_do-meta .meta {
  display: inline-block;
  margin: 0 20px 20px 0;
  vertical-align: top;
}


.to_do-meta .meta .title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.to_do-meta .task-name .select2-container{
	width:280px;
	min-width:280px;
}	







.to_do-meta .to_do-worker{}

.to_do-meta .worker-list .worker {
	border: 1px solid #ddd;
	color: #ddd;
	display: inline-block;
	font-size: 22px;
	height: 30px;
	line-height: normal;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 30px;
}


.to_do-meta .worker-list  .worker.add,
.to_do-meta .worker-list .worker.close-search-window {
  cursor: pointer;
  text-align:center;
}

.to_do-meta .worker-list .add .search-worker {
	background: #f2f2f2 none repeat scroll 0 0;
	display: none;
	padding: 10px;
	position: absolute;
}

.to_do-meta .worker-list .worker-result{}
.to_do-meta .worker-list .worker-result .name {
    font-size: 13px;
    background: #fff;
    padding: 5px;
    color: #929292;
    margin-bottom: 2px;
	text-align:left;
}

.to_do-meta .worker-list .worker-result .name span {
    vertical-align:top;
}

.to_do-meta .worker-list .worker-result .name:hover {
    background: #4d76ab;
    color: #fff;
}



.to_do-meta .worker-list .worker-hover-window{
	display:none;
	position: absolute;
    background: #f2f2f2 none repeat scroll 0 0;
    color: #355ac7;
}

.to_do-meta .worker-list ._hide {
	float: right;
    color: #c76666;
    padding: 0 7px;
    background: #ddd;
    cursor: pointer;
}

.to_do-meta .worker-list ._userdata {
    padding: 8px 20px 8px 10px;
    font-size: 15px;
}

.to_do-meta .worker-list ._userdata._userremove {
    background: #c76666;
    color: #fff;
    cursor: pointer;
}




.to_do-meta .todo-progress {
    
}

.to_do-meta .todo-progress .add-progress{}
.to_do-meta .todo-progress .close-progress{ display:none;}



.to_do-meta .todo-progress .progress-input{
    display:none;
	padding: 20px 5px;
    margin: 10px 0;
	padding:20px;
	background:#eee;
}

.to_do-meta .todo-progress .button{
	margin-top:15px;
}

.to_do-meta .todo-progress .submit-progress-status{
    padding: 18px;
    font-size: 25px;
    color: #a7a5a5;
	display:none;
}


.to_do-meta .todo-progress .progress-list { 
    overflow-y: scroll;
    height: 400px;
}


.to_do-meta .todo-progress .progress-single { 
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.to_do-meta .todo-progress .progress-single:hover .progress-edit{ 
	display:inline-block;
}


.to_do-meta .todo-progress .progress-edit { 
	float: right;
	margin-right: 20px;
	color: #C13C31;
	text-decoration:none;
	box-shadow:none;
	outline:none;
	display:none;
	font-size: 16px;
	font-weight: 600;
}







.to_do-meta .todo-progress .progress-single .thumb{ 
    border-radius: 20px;
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 20px;
    overflow: hidden;
    width: 40px;
}

.to_do-meta .todo-progress .progress-single .details{ 
	margin-left:50px;
}


.to_do-meta .todo-progress .progress-single .author{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.to_do-meta .todo-progress .progress-single .date{
	display: inline-block;
    font-size: 12px;
}



.to_do-meta .todo-progress .progress-single .progress-content{
	padding:10px;
}










