/*
	Admin Metabox css
*/


/* COLUMN FOR to_do START */



.type-to_do .pm_running {
    background: #826ECC;
    padding: 0px 20px 3px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.type-to_do .pm_running:hover {
    background: #ce660b;
}

.type-to_do .pm_todo_count {
    color: #c55d00;
    font-weight: 600;
}

.type-to_do .pm_to_dos_date {
    color: #16A05C;
    font-weight: 600;
}



.type-to_do .pm_to_dos_ra_meta.pm_to_do_worker { color: #DD4F43; }

.type-to_do .pm_to_dos_ra_meta.pm_todo_count_completed { color: #16A05C; }
.type-to_do .pm_to_dos_ra_meta.pm_todo_count_processing { color: #ca9501; }

.type-to_do .pm_to_dos_ra_meta.pm_to_dos_date_remaining { color: #C13C31; }





.type-to_do .pm_to_dos_ra_meta {
    font-weight: 600;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #c55d00;
	font-size: 11px;
}
.type-to_do .pm_to_dos_ra_meta:first-child {
    padding-left: 0;
}

.type-to_do .pm_to_dos_ra_meta:last-child {
    border-right: none;
}



.wp-list-table .to_do_status, .task-meta .to-do-status .status {
  color: #fff;
  display: inline-block;
  padding: 4px 7px;
}
.wp-list-table .to_do_status.none, .task-meta .to-do-status .status.none {
  background: #ddd none repeat scroll 0 0;
}
.wp-list-table .to_do_status.running, .task-meta .to-do-status .status.running {
  background: #2bbde7 none repeat scroll 0 0;
}
.wp-list-table .to_do_status.hold, .task-meta .to-do-status .status.hold {
  background: #fed456 none repeat scroll 0 0;
}
.wp-list-table .to_do_status.completed, .task-meta .to-do-status .status.completed {
  background: #35e393 none repeat scroll 0 0;
}















